<%= form_for @pro_skill, :html => { :class => "form-horizontal pro_skill" } do |f| %>

  <% if @pro_skill.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pro_skill.errors.count, "error") %> prohibited this pro_skill from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pro_skill.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :professional_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :professional_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:professional_id) %>
  </div>
  <div class="form-group">
    <%= f.label :skill_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <select id="skills_select" class="form-control input-lg" multiple="multiple">
        <option></option>
          <% Skill.all.each do |skill| %>
            <option value="<%= skill.id %>" data-select-type="filter" ><%= skill.name %></option>
          <% end %>
      </select>
    <%#= f.select :skill_id, options_for_select(Skill.all.collect{ |skill| [skill.name, skill.id]}, (f.object.try(:skill_id))), {prompt: 'Select your skills'}, { :class => 'form-control'} %>
    </div>
    <%=f.error_span(:skill_id) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pro_skills_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
<script type="text/javascript">
  $(document).ready(function() {
  $("#skills_select").select2({
    placeholder: "Choose your skills"
  });
});
</script>