<%= form_for @past_detail, remote: true, :html => { :class => "form-horizontal past_detail" } do |f| %>

  <% if @past_detail.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@past_detail.errors.count, "error") %> prohibited this past_detail from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @past_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :professional_id, value: current_professional.id%>

  <div class="form-group">
    <%= f.label :joined_on, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div class='input-group date' id='start-date'>
        <%= f.text_field :joined_on, :class => 'form-control' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    </div>
    <%=f.error_span(:joined_on) %>
  </div>
  <div class="form-group">
    <%= f.label :left_on, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div class='input-group date' id='end-date'>
        <%= f.text_field :left_on, :class => 'form-control' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    </div>
    <%=f.error_span(:left_on) %>
  </div>
  <div class="form-group">
    <%= f.label :work_profile, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :work_profile, :class => 'form-control' %>
    </div>
    <%=f.error_span(:work_profile) %>
  </div>
  <div class="form-group">
    <%= f.label :designation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :designation, :class => 'form-control' %>
    </div>
    <%=f.error_span(:designation) %>
  </div>
  <div class="form-group">
    <%= f.label :about_workplace, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :about_workplace, :class => 'form-control' %>
    </div>
    <%=f.error_span(:about_workplace) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
     <!--  <button type="submit" class="btn btn-primary", id="show-detail-form">Submit</button> -->
      <%= f.submit nil, :class => 'btn btn-primary', remote: true%>
      <button type="button" class='btn btn-default', id='cancel-detail-form'>Cancel</button>
    </div>
  </div>

<% end %>
<script type="text/javascript">
  $("#cancel-detail-form").on('click', function(){
    $("#pro-past-details").html('');
  });
</script>
<script type="text/javascript">
  $('#start-date').datepicker({
    format: 'mm/dd/yyyy',
    todayHighlight: true,
    autoclose: true,
    locale: 'ru'
  });
  $('#end-date').datepicker({
    format: 'mm/dd/yyyy',
    todayHighlight: true,
    autoclose: true,
    locale: 'ru'
  });

</script>
